# pnpm 配置文件
#
# 管文档参考：https://pnpm.io/zh/npmrc

recursive-install=true
workspace-concurrency=10
child-concurrency=10
network-concurrency=20
ignore-workspace-root-check=true
git-checks=false
@yto:registry=https://npm.yto.net.cn
registry=https://registry.npmmirror.com/
node-options=--experimental-specifier-resolution=node